@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kosugi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Domine:400,700&display=swap');

body {
    overflow-x: hidden;
    background: lightgoldenrodyellow;
}

.body-background {
    background: lightgoldenrodyellow;
}

#sections {
    position: relative;
    display inline-block;
    width: 400px;
    top: 60px;
    z-index: 90;
    margin-right: 50px;
}

.categoryLegend {
    font-family: "Domine";
}

.step {
    margin-bottom: 100px;
    height: 500px;
    font-family: "Domine";
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

h1, h2 {
    font-weight: 700;
    text-align: center;
    line-height: 32px;
}

h1 {
    font-size: 35px;
}

strong {
    color: rgb(245, 155, 155);
}

#graphic {
    margin: auto;
    width: 1500px;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
}


#bubble-chart {
    font-family: 'Merriweather Sans', sans-serif;
    position: fixed;
    font-size: 10px;
    font-weight: 400;
    color: #4c4c4c;
    fill: #4c4c4c;
    text-align: center;
    cursor: default;
    height: 1000px;
    width: 850px;
}

#bar-chart {
    font-family: 'Merriweather Sans', sans-serif;
    position: fixed;
    font-size: 10px;
    font-weight: 400;
    color: #4c4c4c;
    fill: #4c4c4c;
    text-align: center;
    cursor: default;
    height: 1000px;
    width: 850px;
}


#pie-chart {
    font-family: 'Merriweather Sans', sans-serif;
    position: fixed;
    font-size: 10px;
    font-weight: 400;
    color: #4c4c4c;
    fill: #4c4c4c;
    text-align: center;
    cursor: default;
    height: 1000px;
    width: 850px;
}

#radial-chart {
    font-family: 'Merriweather Sans', sans-serif;
    position: fixed;
    font-size: 10px;
    font-weight: 400;
    color: #4c4c4c;
    fill: #4c4c4c;
    text-align: center;
    cursor: default;
    height: 1000px;
    width: 850px;
}


.tick line {
    stroke: 'red'
}

#tooltip {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, .7);
    border-radius: 3px;
    box-shadow: -3px 3px 15px #939393;
    color: white;
    padding: 6px;
    font-family: "Merriweather";
    font-size: 1.1em;
    max-width: 400px;
    z-index: 100;
}

svg circle:hover{
    cursor: pointer;
}

.swatch {
    fill: #939393;
}

.sizeLegend2 {
    opacity: 0.7
}

a {
    color: rgb(221, 0, 255);
    text-decoration: none;
}


.radialchart {
    width: 700px;
}


a,
a:hover {
    color: #333333;
}

.title {
    font-family: 'Oswald', sans-serif;
    color: #1c1c1c;
    text-align: center;
    margin-top: 100px;
}

#topTitle {
    font-size: 36px;
    line-height: 1.2;
}

.subTitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    color: #4d0606;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.topText{
    text-align: justify;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
    /*margin-bottom: 10px;*/
    line-height: 1.2;
    color: #000000;
}

#searchTitle {
    font-size: 20px;
    margin-bottom: 10px;
}

.form-control {
    font-size: 11px;
    font-family: 'Merriweather Sans', sans-serif;
}

.dropdown-menu {
    font-size: 11px;
    font-family: 'Merriweather Sans', sans-serif;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus  {
    background-color: #7D7D7D;
}

#legendTitle {
    text-align: left;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 5px;
    font-size: 13px;
    color: #1c1c1c;
}

#legendBubble {
    position: fixed;
    margin-left: 1248px;
    margin-top: 85px;
}

#legendText {
    text-align: left;
    margin-bottom: 10px;
    font-size: 10px;
    line-height: 1.5;
    font-family: 'Merriweather Sans', sans-serif;
    color: #7D7D7D;
}

.legendCircle {
    stroke-width:1;
    stroke:#757575;
    stroke-dasharray:2 2;
    fill:none;
}

.legendLine {
    stroke-width: 1;
    stroke: #E0E0E0;
    shape-rendering: crispEdges;
}

.legendTitle {
    fill: #333333;
    font-family: 'Oswald', sans-serif;
    text-anchor: middle;
    font-size: 14px;
}

.legendSubTitle {
    color: #171c12;
    text-anchor: middle;
    font-size: 10px;
    line-height: 1.2;
    font-family: 'Merriweather Sans', sans-serif;
}

.legendText {
    text-anchor: start;
    font-size: 9px;
}

#attribution {
    text-align: right;
    margin-left: 1220px;
    margin-top: 2px;
    font-size: 12px;
    position: fixed;
    color: black;
    font-family: 'Merriweather Sans', sans-serif;
}

#loadText {
    color: white;
    /*font-family: 'Oswald', sans-serif;*/
    /*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;*/
    position: absolute;
    text-align: center;
    /*height:100%;*/
    top:35%;
    width:100%;
    left:0%;
    font-size: 16px;
}

@media (min-width: 768px) {
    #loadText {
        font-size: 24px;
        top:40%;
    }
}

.nodeTooltip {
    color: #333333;
    font-family: 'Oswald', sans-serif;
    text-anchor: middle;
    font-size: 12px;
    text-align: center;
}

.node {
    cursor: pointer;
}

.node:hover {
    stroke: #000;
    stroke-width: 1.5px;
}

.node--leaf {
    fill: black;
}

.label,
.hiddenArcWrapper,
.barWrapperOuter,
.popover,
.node--root {
    pointer-events: none;
}

.circleText {
    font-family: 'Oswald', sans-serif;
    text-anchor: middle;
    color: #3E1302;
    fill: #3E1302;
}

.innerCircleTitle {
    text-anchor: middle;
    font-family: 'Oswald', sans-serif;
}

.subTotal {
    fill: #BFBFBF;
    font-weight: 400;
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Merriweather Sans', sans-serif;
}

.innerText {
    color: #4A4A4A;
    text-anchor: end;
}

.innerValue {
    /*font-weight: 700;*/
}


.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

treemap-rect {
    fill: cadetblue;
    opacity: 0.3;
    stroke: white;
}